.AnimalsForm {
    display: flex;
    width: 600px;
    margin: 20px auto;
    column-gap: 20px;
}

.Animals {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.Animal {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    flex: 0 1 50%;
}

.SubAnimal {
    display: flex;
    padding-right: 10px;
    border: 2px solid firebrick;
    min-height: 50px;
    width: 100%;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}

.SubAnimal > * {
    flex: 0 1 50%;
    text-align: center;
 }